.cart_container {
    width: 100%;
    padding: 0 40px 10px 40px;
    background: #fff;
}
.cart_item {
    height: 70px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.cart_item:last-child {
    border: none;
}
.cart_item_details {
    width: 100%;
}
.cart_item_details h5 {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.cart_item_price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.cart_item_price span {
    width: 33.33%;
    text-align: left;
}
.cart_item_quantity {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.cart_item_quantity div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.cart_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart_button_total {
    font-size: 16px;
}
.cart_button_total span {
    font-weight: 600;
    font-size: 20px;
}

.cart_button button {
    background-color: rgba(0, 128, 0, 0.735);
    color: #fff;
    font-weight: 500;
}
.cart_button button:hover {
    color: #fff !important;
    font-weight: 600 !important;
}
.empty_cart {
    padding: 50px;
}

.radio_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.ant_radio_group_custom {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px !important;
}
.pay_cash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
