.initial_page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
}

.bg_image {
    background: url("../../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}
.initial_page h1 {
    font-size: 40px;
    color: #067bf5;
    border-bottom: 1px solid #0679f555;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.initial_page h3 {
    font-size: 20px;
}
.initial_page div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.initial_page_buttons {
    width: 200px;
    height: 80px;
    font-size: 24px;
}
.initial_page_buttons1 {
    width: 150px;
    height: 60px;
    font-size: 20px;
}
.mid {
    width: 550px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px !important;
    background: rgb(255, 255, 255);
    padding: 20px;
    z-index: 9;
    border-radius: 10px;
}
